body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans", sans-serif;
}
.titlebar {
	margin: 0;
	width: 100%;
	height: 12vh;
	min-height: 8vh;
	background: #ade2ff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

}

.title {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: auto;
}

.title-link {
	text-decoration: none;
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 8vh;
	margin: auto;
	line-height: 100%;

}

.title-link:hover {
	text-decoration:none;
	color: black;
	margin: auto;
}

.dropdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-basis: 20%;
	background: #cfeeff;
}

.menu-item {
	height: 10vh;
	display: flex;
	width: 100%;
}

.menu-item-link {
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 2vh;
	margin: auto;
	line-height: 100%;
	text-transform: uppercase;
	text-decoration:none;
}

.menu-item-link:hover {
	text-decoration:none;
	color: black;
	text-transform: uppercase;
}

.dropdown-container {
	display: none;
	width: 100%;
}

.home-section {
	margin: 0;
	width: 100%;
	font-family: "Noto Sans", sans-serif;
}

.home-title {
	color: white;
	font-weight: 700;
}

.hero {
	height: 80vh;
	background: url("../imgs/hero-image.jpg");
	background-size: cover;
	background-position: center;
}

.hero-title {
	text-align: center;
	padding-top: 30vh;
	font-size: 7em;
}

.car-carousel-content {
	padding-top: 17vh;
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.car-carousel {
	background-image: url("../imgs/car-carousel-1.jpg");
	height: 45vh;
	background-size: cover;
	background-position: center;
}

.car-carousel-title {
	text-align: center;
	font-size: 4em;
	padding: 0 3vh;
}

.view-cars-btn {
	margin-top: 3vh;
	font-size: 2em;
}


.company-vision {
	width: 100%;
	margin: 0;
	min-height: 45vh;
	display: flex;
	flex-direction: row;
}

.company-vision-content {
	padding: 4vh;
	flex-basis: 50%;
}

.section-title {
	text-transform: uppercase;
	font-size: 4em;
	font-weight: 300;
}

.section-text {
	font-size: 2vh;
	padding-top: 1vh;
}

.company-vision-image {
	width: 100%;
	height: 80%;
	display: block;
	background: url("../imgs/company-vision.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.company-vision-btn {
	padding: 4vh;
	flex-basis: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;

}

.section-btn {
	margin-top: 2vh;
	font-size: 2em;
}

.divider {
	display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #52ff63;
    margin: 1em 0;
    padding: 0;
}

.contact-us-content {
	min-height: 45vh;
	padding: 4vh;
	margin: 0;
	width: 100%;
	text-align: center;
}

.footer {
	margin: 0;
	width: 100%;
	height: 15vh;
	background: #262626;
}

.footer-content {
	padding: 4vh;
}
.footer-text {
	font-size: 1.5vh;
	color: white;
}

.page-title {
	text-align: center;
	font-size: 6em;
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	padding-top: 4vh;
	font-weight: 300;
}

.page-section {
	padding: 5vh 0;
	text-align: center;
}

.page-text {
	width: 70%;
	margin: 0 auto 0 auto;
}


.values-container {
	display: flex;
	flex-direction: row;
	width: 90%;
	margin: 4vh auto 0 auto;
	justify-content: space-between;
}

.value {
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	min-height: 16vh;
	
}

.value-title {
	height: 4vh;
	margin: 2vh 0;
	font-size: 2vh;
	display: block;
	text-transform: uppercase;
}
.value-icon-container {
	height: 8vh;
	margin: 2vh 0;
	display: block;
}

.value-icon { 
	font-size: 4vh;
	color: #0070e0;
	display: block;
}

.value-text {
	font-size: 2vh;
}

 .fas, .far { font-family: 'FontAwesome' !important; }

 .cars-container {
 	margin: 0 auto;
 	width: 100%;
 	display: flex;
 	text-align: center;
 	justify-content: space-between;
 	height: 100vh;
 }

.car-title {
	font-size: 4vh;
	margin: 2vh;
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

.car-description {
	margin: 2vh;
	font-size: 2vh;	
	color: white;
}

.car-stats {
	font-size: 2vh;
	margin: 2vh;
	color: white;
}


.car {
	flex-basis: 30%;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}



.car-jaguar {
	background: url("../imgs/car-carousel-2.jpg");
	background-size: cover;
	background-position: center;
	box-shadow:inset 0 0 0 2000px rgba(0,0,0, 0.6);
}

.car-bear {
	background: url("../imgs/car-bear.jpg");
	background-size: cover;
	background-position: center;
	box-shadow:inset 0 0 0 2000px rgba(0,0,0, 0.6);
}

.car-swan {
	background: url("../imgs/car-swan.jpg");
	background-size: cover;
	background-position: center;
	box-shadow:inset 0 0 0 2000px rgba(0,0,0, 0.6);
}

.contact-us-form {
	margin: 12vh 4vh;
	
}

.form-control {
	font-size:2vh;
}

.contact-us-row {
	margin: 2vh;
}

.contact-us-submit {
	margin-top: 2vh;
	margin-left: 4vh;
	font-size: 2em;
}

.contact-us-submitted {
	font-size: 2vh;
	text-align: center;
	margin: 3vh auto;
	display: none;
}

