body {
	margin: 0;
	padding: 0;
}
.titlebar {
	margin: 0;
	width: 100%;
	height: 10vh;
	min-height: 8vh;
	background: #ade2ff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	margin: auto;
}

.title-link {
	text-decoration: none;
	color: black;
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	font-size: 8vh;
	margin: auto;
	line-height: 100%;

}

.title-link:hover {
	text-decoration:none;
	color: white;
	margin: auto;
}

.dropdown {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #cfeeff;
}

.menu-item {
	height: 10vh;
	display: flex;
}
.menu-item-link {
	margin: auto;
}